# --- POSTGRESQL DATABASE ---
POSTGRES_USER=n8n
POSTGRES_PASSWORD=
POSTGRES_DB=n8n_system

APP_DB_USER=ai_admin
APP_DB_PASSWORD=
APP_DB_NAME=ai_memory

# Security: Generate a random string for this
N8N_ENCRYPTION_KEY=

# --- Telegram ---
TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# --- NGROK ---
NGROK_AUTHTOKEN=
NGROK_DOMAIN=your-domain.ngrok-free.dev

# --- TIMEZONE ---
GENERIC_TIMEZONE=Europe/Bucharest
TZ=Europe/Bucharest

# --- Ollama ai model ---
OLLAMA_MODEL=llama3.1:8b